div.contact
{
	font-size: small;

}
div.contact table
{
	margin-left: auto;
	margin-right: auto;
}
div.contact table th
{
	font-variant: small-caps;
	text-align: right;
}
p.NavBar
{
	text-align: center
}
div.PersonInfo
{
	padding-top: 2em;
	padding-left: 22em;
}
div.Photo
{
	margin: 2em 0em 3em 0em;
}
@media all and (min-width: 960px)
{
	div.Photo 
	{
		float: left
	}
}
@media all and (max-width: 960px)
{
	div.PersonInfo
	{
		padding-left: 0 !important;
	}
}
@media all and (max-width: 820px)
{
	/* Override some things in the site style sheet for very small screens */
	ul#nav-primary
	{
		display: block !important;
		float: none !important;
		width: 100% !important
	}
	div#content
	{
		display: block !important;
		float: none !important;
		width: 100% !important
	}
}
/* Override some more things in the site style sheet so that we don't look
 * horrible on mobile screens */
div#container
{
	min-width: 0 !important
}
div#header
{
	min-width: 0 !important
}
.shadow
{
	-moz-box-shadow:    0.4em 0.4em 0.2em 0.2em #ccc;
	-webkit-box-shadow: 0.4em 0.4em 0.2em 0.2em #ccc;
	box-shadow:         0.4em 0.4em 0.2em 0.2em #ccc;
}
img.Photo
{
	margin-left: auto;
	margin-right: auto;
	display: block;
	border: solid;
	border-width: thin;
	border-color: black;
	max-width: 300px
}
h2.PersonInfo
{
	font-family: sans-serif;
	font-variant: small-caps;
	font-weight: bold;
	font-size: small;
}
ul.PersonInfo
{
	font-size: small
}
dt.Contact
{
	font-size: small;
	font-weight: bold;
	font-variant: small-caps
}
dd.Contact
{
	font-size: small
}
span.PaperTitle
{
	font-weight: bold
}
span.ConferenceName
{
	font-style: italic
}
li.publications
{
	margin-bottom: 1em
}
a:link {
    text-decoration:  none;
}
.bibtitle {
    font-weight: bold;
    font-style: italic;
}
.bibauthor {
    font-style: italic;
}
.biblink {
}

div.github-links {
	float: right;
}

div.abstract p.unhidden {
	padding: 1em;
}
