<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width initial-scale=1" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="text/css" http-equiv="Content-Style-Type" />
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
    <link href="http://www.cl.cam.ac.uk/style/layout.css" media="all" rel="stylesheet" type="text/css" />
    <link href="http://www.cl.cam.ac.uk/style/print.css" media="print" rel="stylesheet" type="text/css" />
    <link href="http://www.cl.cam.ac.uk/style/blue.css" media="all" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{ "/css/local.css" | prepend: site.baseurl }}">
    {% unless page.github == undefined %}
    <link rel="stylesheet" href="{{ "/css/gh-buttons.css" | prepend: site.baseurl }}">
    {% endunless %}
    <!--[if IE 6]>
        <link rel="stylesheet" href="http://www.cl.cam.ac.uk/style/ie6.css" type="text/css" media="screen" />
        <script type="text/javascript" src="http://www.cam.ac.uk/global/js/minmax.js">
        </script>
    <![endif]-->
    <!--[if IE 7]>
        <link rel="stylesheet" href="http://www.cl.cam.ac.uk/style/ie7.css" type="text/css" media="screen" />
    <![endif]-->
	<title>{{ site.title }}{% if page.title %} - {{ page.title }}{% endif %}</title>
    {% if site.author %}
    <meta content="{{ site.author }}" name="author" />
    {% endif %}
    <meta name="description" content="{{ site.description }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
</head>
