<script type="text/javascript">
  function unhide(divID)
{
  var item = document.getElementById(divID);
  if (item)
  {
    item.className = (item.className=='hidden') ? 'unhidden' : 'hidden';
  }
}
</script>

<header class="site-header">

<div id="skip"> 
  <a accesskey="2" href="#skip-content">Skip to content </a>&#160;|&#160;<a accesskey="0" href="://www.cam.ac.uk/site/accesskeys.html">Access key help</a> 
</div>
<div id="header">  
  <div id="branding">
    <a accesskey="1" href="//www.cam.ac.uk/">
      <!--
      <img alt="University of Cambridge" class="ucam" src="//www.cl.cam.ac.uk/images/identifier.gif" />
      -->
	  <img width="192px" alt="University of Cambridge" class="ucam" src="{{site.baseurl}}/images/University_of_Cambridge_logo.svg" />
    </a>
  </div>
  <div id="site-search">
    <form action="//www.google.co.uk/search" method="get">      
      <fieldset>      
        <label for="search-term">Search </label>
        <input accesskey="4" id="search-term" name="q" type="text" value="" />      
        <input alt="Search" id="search-button" src="//www.cl.cam.ac.uk/images/button-search.gif" title="Search" type="image" value="Search" />
        <input name="domains" type="hidden" value="cam.ac.uk;www.cl.cam.ac.uk" />
        <input name="sitesearch" type="hidden" value="www.cl.cam.ac.uk" />
      </fieldset>
    </form>
    <ul>
      <li class="last"> <a href="//www.cl.cam.ac.uk/search/">Advanced search </a></li>
      <li><a href="//www.cl.cam.ac.uk/az/">A&#8211;Z</a></li>
      <li><a href="//www.cl.cam.ac.uk/contact/">Contact us</a></li>
    </ul>
  </div>
</div>
<div id="dept-title">
  <h1> <a href=".">Computer Laboratory </a> </h1>
</div>
</header>
<div id="container"> 
  {% include breadcrumbs.html %}
  {% include toc.html %}

  <div id="content">
