---
---
{% if entry.doi %}
  {% if entry.doi contains '://' %}
    {% assign doi = entry.doi %}
  {% else %}
    {% capture doi %}http://doi.org/{{entry.doi}}{% endcapture %}
  {% endif %}
{% endif %}
{% if entry.pdf %}
  {% assign url = entry.pdf %}
{% elsif entry.url %}
  {% assign url = entry.url %}
{% elsif doi %}
  {% assign url = doi %}
{% endif %}
{% if url %}
  {{ reference | replace: entry.title, "<a class='bibtitle' href='%%URL_PLACEHOLDER%%'>\0</a>" | replace: '%%URL_PLACEHOLDER%%', url | replace: site.pubauthor, "<span class='bibauthor'>\0</span>" }}
{% else %}
  {{ reference | replace: entry.title, "<span class='bibtitle'>\0</span>" | replace: site.pubauthor, "<span class='bibauthor'>\0</span>" }}
{% endif %}
{% if entry.pdf %}
  {% assign pdf = entry.pdf %}
{% elsif entry.url %}
  {% if entry.url contains '.pdf' %}
    {% assign pdf = entry.url %}
  {% endif %}
{% endif %}
<a class="biblink" href="javascript:unhide('bibtex-{{ key }}')">[BibTeX]</a>
{% if entry.abstract %}
<a class="biblink" href="javascript:unhide('abstract-{{ key }}')">[abstract]</a>
{% endif %}
{% if pdf %}
<a class="biblink" href="{{ pdf }}">[<sc>pdf</sc>]</a>
{% endif %}
{% if entry.slides %}
<a class="biblink" href="{{ entry.slides }}">[<sc>slides</sc>]</a>
{% endif %}
{% if entry.poster %}
<a class="biblink" href="{{ entry.poster }}">[<sc>poster</sc>]</a>
{% endif %}
{% if doi %}
<a class="biblink" href="{{ doi }}">[<sc>doi</sc>]</a>
{% endif %}
<pre id="bibtex-{{ key }}" class="hidden">{{ entry.bibtex }}</pre>
{% if entry.abstract %}
<div class="abstract">
<p id="abstract-{{ key }}" class="hidden">{{ entry.abstract | newline_to_br }}</p>
</div>
{% endif %}
